<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	>
<head>
<title>Order : View all</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
	<h1 id="header" align="center">Orders</h1>
	<div id="content" class="container">
		<table class="table table-bordered table-striped" align="center">
			<thead>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${orders.empty}">
					<td colspan="4">No orders</td>
				</tr>
				<tr th:each="order : ${orders}">
					<td></td>
					<td
						th:text="${@customerClient.getOne(order.customerId).firstname} + ' ' + ${@customerClient.getOne(order.customerId).name}">Firstname
						Name</td>
					<td th:text="${order.totalPrice(@catalogClient)}">42.0</td>
					<td><form th:action="'/order/'+${order.id}" th:method="delete">
							<input type="submit" value="delete" class="btn btn-link" />
						</form></td>
				</tr>
			</tbody>
		</table>
		<div class="row">
			<div class="col-md-4" align="center">
				<a href="form.html" >Add Order</a>
			</div>
		</div>
	</div>
</body>
</html>