<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	>
<head>
<title>Guestlist</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body align="center">
	<h1 id="header" align="center">Put yourself on the guestlist!</h1>
	<div id="content" class="container">

		<form th:action="${customer.id!=0} ? ${customer.id}+'.html' : 'form.html' " th:object="${customer}"
			th:method="${customer.id != 0} ? put : post" role="form">
			<div class="form-group">
				<label >Name</label> <input type="text" required
					th:field="*{name}" class="form-control" placeholder="name" />
			</div>

			<div class="form-group">
				<label >Firstname</label> <input type="text" required
					th:field="*{firstname}" class="form-control"
					placeholder="firstname" />
			</div>

			<div class="form-group">
				<label >EMail</label> <input type="text" required
					th:field="*{email}" class="form-control"
					placeholder="email" />
			</div>

			<div class="form-group">
				<label >Street</label> <input type="text"
					th:field="*{street}" class="form-control"
					placeholder="street" />
			</div>

			<div class="form-group">
				<label >City</label> <input type="text"
					th:field="*{city}" class="form-control"
					placeholder="city" />
			</div>

			<button type="submit" value="Yey!"class="btn btn-default">Yey!</button>
		</form>
	</div>
</body>
</html>